{
  "presets": [ "es2015" ],
  "plugins": [
    "fast-async",
    "transform-object-rest-spread",
    "ramda"
  ],
  "ignore": "test/*",
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
